body {
    background-color: #89A9DD;
    font-family: 'Roboto', sans-serif;
    
    color: black;
    overflow-x: hidden; 
}

.mx-auto {
    font-family: var(--nameFont) !important;
    font-size: 30px ;
    color: black !important;
}


