body {
    /* background-color: var(--mustard) ; */
    font-family: var(--headerFont);
    color: black;
}

.mx-auto {
    font-family: var(--nameFont) !important;
    font-size: 30px !important;
    color: black;
}

#resume {
    background-color: var(--foam);
}
