

#contact {
    display: block;
    text-align: center;
    background-color: var(--foam);
}

#eggplant {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

.help-block {
    width: 900px !important;
}

button {
    border-style: none;
    border-radius: 8px;
    font-size: 25px !important ;
    width: 100px;
    background-color: var(--teal) !important;
    color: black !important;
}

button:hover {
    opacity: .5;
}

a:hover {
    opacity: .5;
}