

.jumbotron {
    background: url("../assets/img/img195better.jpg") no-repeat ;
    background-position:  -46em -60em; 
    /* margin-bottom: 50px; */
    height: 100vh;
    /* position: relative ; */
    text-align: center;
    
}

.display-3 {
    text-align: center;
    position: relative;
    left: 0px; 
    bottom:-230px;
    font-size: 80px;
    color: var(--mustard);
    text-shadow: 3px 3px black;
    font-family: var(--nameFont);
}

.subtitle {
    text-align: center;
    position: relative;
    left: 0px; 
    bottom:-220px;
    font-size: 50px;
    color: white;
    text-shadow: 3px 3px black;
    font-family: 'Roboto', sans-serif;
    ;
} 

h1 {
    font-family: var(--nameFont);
    color: black;
    font-size: 50px;
    text-align: center;
}