
.navbar {
    background: var(--mustard);
    margin-bottom: 0px;
    font-weight: bold;
    font-size: 20px;
    font-family: var(--headerFont);
    box-shadow: 7px 7px 7px black !important;
}

.navbar navbar-toggler {
    background-color: var(--mustard);
}

.navlink {
    color: black !important;
}

.logo {
    width: 50px;
    height: 50px;
}