h3 {
    font-style: center; 
}

/* #project {
    margin-top: -1000em !important;
} */

#spin {
    border-radius: 50%;
    -webkit-transition: -webkit-transform .8s ease-in-out;
            transition:         transform .8s ease-in-out;
  }
  img:hover {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }

  iframe{
      width:65em !important;
      height:35em !important;
      margin: 0;
  }