h3 {
    font-style: center; 
}

#tagged{
    margin-top:3em;
 margin-bottom: 2em;
}

#vag{
    width: auto;
    height: 200px;
    margin-bottom: 2em;
}

#totoro{
    width: auto;
    height:200px;
    margin-bottom: 2em;
}

#rolly{
    height: 200px;
    width: auto;
    margin-bottom: 2em;
}

a{
    color: black ;
}

h4{
    color: white;
}

h3{
    color:white;
}

a:hover{
    text-decoration: none;
    /* filter: invert(.5) !important; */
    opacity: .25 !important;
    color: black;
}
  