:root {
    --teal: #066849;
    --mustard: #ffca00;
    --brown: #7F5415;
    --army: #556b2f;
    --olive: #6B931A;
    --foam: #00AA54;

    --nameFont: 'Monoton', cursive;
    --headerFont: 'Righteous', cursive;
    
}

