html {
  height: 100%;
}
body {
  height: 100%;
  ul {
    list-style-type: none;
    margin: 0;
    padding: 20px;
    overflow: hidden;
  }
  .link {
    color: white;
    &:hover {
      color: white;
      background-color: black;
      text-decoration: none;
    }
  }
  font-family: Arial, Helvetica, sans-serif;
  overflow: hidden;

  #responsive-title {
    width: 100%;
    height: 100%;
    position: absolute;
    background-image: url("./assets/img/portfolio-pic-bw.png");
    background-repeat: no-repeat;
    background-size: 40%;
    background-position-x: left;
    background-position-y: bottom;
    display: flex;
    justify-content: space-between;
    h1 {
      font-size: 3rem;
      text-transform: uppercase;
      margin: 20px 20px 0px 20px;
    }
    #job {
      text-align: right;
    }
  }
  details {
    width: 30rem;
    position: absolute;
    cursor: move;
    .carousel-item {
      img {
        height: 400px;
        margin-bottom: 1rem;
      }
    }
    summary {
      padding: 10px 20px;
      font-size: 24px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      cursor: move;

      .toggle {
        cursor: pointer;
        padding: 0.5rem;
      }
    }
    &[open] {
      summary {
        border-bottom: 1px solid black;
      }
      p {
        padding: 20px;
        margin: 0;
      }
    }
    &#about {
      background-color: #00e699;
      left: 5rem;
      top: 6rem;
    }
    &#projects {
      width: 900px;
      background-color: steelblue;
      left: 10rem;
      top: 10rem;
    }
    &#links {
      width: 200px;
      background-color: #ff99aa;
      left: 25rem;
      top: 18rem;
    }
  }
  /* } */
}
