#contact {
  display: block;
  text-align: center;
  /* background-color: var(--foam); */
}

#eggplant {
  display: flex space-around;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}

.help-block {
  width: 900px !important;
}

button {
  border-style: none;
  border-radius: 8px;
  font-size: 20px !important ;
  /* width: 100px; */
  background-color: var(--mustard) !important;
  /* color: white !important; */
}

button:hover {
  opacity: 0.5;
}

a:hover {
  opacity: 0.5;
}
